{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [
    "json"
  ],
  "rules": {
    "semi": [1, "always"],
    "strict": [2, "function"],
    "no-undef": 2
  }
}
