$background-color-github: #f8f8f8;
$background-color-strong: #ffa;
$color: #808080; // gray
$color-dark: darken($color, 10%);
$color-em: #ff4500; // orangered
$color-h: #800000; // maroon
$color-github: #333;
$color-light: lighten($color, 10%);
$color-light2: lighten($color, 20%);
$color-light3: lighten($color, 30%);
$color-light4: lighten($color, 45%);
$font-family-sans-serif: 'TsukuARdGothic-Regular', 'ヒラギノ丸ゴ ProN W4', 'Hiragino Kaku Gothic ProN', YuGothic, 'Yu Gothic', '游ゴシック体', '游ゴシック';
$font-family-serif: Klee, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', YuMincho, 'Yu Mincho', '游明朝体', '游明朝';
$font-size: 16px;

html {
  font-size: $font-size;
  line-height: $font-size;
}

body {
  color: $color;
  font-family: $font-family-serif;
  letter-spacing: .1rem;
  line-height: 1.5rem;
}

.wrapper {
  margin: 0 auto;
  width: 600px;
}

header {
  display: table;
  font-family: $font-family-sans-serif;
  margin: 1rem 0;

  a {
    color: $color;
    text-decoration: none;
  }
}

.header-title-box {
  display: table-cell;
  text-align: left;
  width: 20%;
}

.header-title-anchor {
  display: inline-table;
}

.logo {
  border-radius: 3rem;
  display: table-cell;
  height: 3rem;
  margin: 0;
  width: 3rem;
}

.header-title {
  display: table-cell;
  font-size: .3rem;
  height: 3rem;
  line-height: .3rem;
  vertical-align: middle;
}

.header-about-box {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  width: 20%;
}

.header-about {
  vertical-align: middle;
}

footer {
  border-top-color: $color-dark;
  border-top-style: solid;
  border-top-width: 1px;
  font-family: $font-family-sans-serif;
  margin: 1rem 0;
  text-align: center;

  a {
    color: $color;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-h;
  margin: 1rem 0;
  text-align: center;
}

h1 {
  font-size: 2.6rem;
  line-height: 2.6rem;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.6rem;
}

h5 {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

h6 {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

p {
  margin: 1rem 0;
  max-width: 100%;

  code {
    background-color: $background-color-github;
    color: $color-github;
    padding: 0 .5rem;
  }
}

em {
  color: $color-em;
  font-family: $font-family-sans-serif;
}

strong {
  background-color: $background-color-strong;
  font-family: $font-family-sans-serif;
}

pre {
  background-color: $background-color-github;
  color: $color-github;
  margin: 1rem 0;
  overflow: auto;
  padding: .5rem;
}

ol,
ul {
  margin-left: 1rem;
}

blockquote {
  background-color: $color-light4;
  border-left-color: $color-light2;
  border-left-style: solid;
  border-left-width: .3rem;
  margin: 1rem 0;
  padding: 1.5rem;
}

article,
section {
  margin: 1rem 0;
}

img {
  display: block;
  height: auto;
  margin: 1rem auto;
  max-width: 100%;
}

iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.article {
  color: $color;
  text-decoration: none;
}

.article :hover {
  background-color: $color-light4;
}

.article-box {
  margin: 1rem 0;
}

.article-title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: .2rem 0;
}

.article-meta {
  color: $color-light;
  font-size: .5rem;
  line-height: .5rem;
  padding: .2rem 0;
}

.pagination {
  margin: 1rem 0;
  text-align: center;

  a,
  span {
    border-color: $color-dark;
    border-style: solid;
    border-width: 1px;
    color: $color;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
  }

  span {
    background-color: $color-light4;
  }

  .current-page {
    background-color: $color-light4;
  }
}

.adsense {
  font-size: 1rem;
  height: auto;
  line-height: 1rem;
  margin: 1rem 0;
  max-width: 100%;
}

@media all and (max-width: 599px) {
  .wrapper {
    margin: 0 2%;
    width: 96%;
  }
}
