<!DOCTYPE html>
<html lang="ja" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ if .IsPage }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{ if and .IsPage (ne .Section "") }}{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{ if and .IsPage (ne .Section "") }}{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta name="twitter:image" content="{{ "" | relURL }}img/logo.png">
    <meta name="twitter:site" content="{{ .Site.Params.twitter }}">
    <meta name="twitter:title" content="{{ .Site.Title }}">
    <meta property="og:description" content="{{ if and .IsPage (ne .Section "") }}{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary }}{{ end }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta property="og:image" content="{{ "" | relURL }}img/logo.png">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:type" content="blog">
    <meta property="og:url" content="/">
    <link rel="stylesheet" type="text/css" href="{{ "" | relURL }}css/html5reset-1.6.1.css">
    <link rel="stylesheet" type="text/css" href="{{ "" | relURL }}css/style.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/github.min.css">
    <link rel="alternate" type="application/atom+xml" href="{{ "" | relURL }}index.xml" title="{{ .Site.Title }}">
    <link rel="icon" href="{{ "" | relURL }}img/favicon.png">
    <link rel="apple-touch-icon" href="{{ "" | relURL }}img/apple-touch-icon.png">
  </head>
  <body>
    <div id="wrapper" class="wrapper">
      <header>
        <div>
          <a href="{{ "" | relURL }}">
            <img src="{{ "" | relURL }}img/logo.png" alt="{{ .Site.Title }}" class="logo">
          </a>
        </div>
        <div>
          <a href="{{ "" | relURL }}about/">About</a>
          <a href="{{ "" | relURL }}tags/">Tags</a>
        </div>
      </header>
